.container{
    
    background-color: white;
    width: 400px;
    height: 400px;
    border-radius: 20px 20px 20px 20px  ;
    outline: dashed 1px black;
    display: inline-block;
    position: relative;
    position: absolute;
    top: 25%;
    left: 30%;
    margin: -25px 0 0 -25px;
    padding: 10px;

}
body{
 
    background-color:rgb(43, 43, 72);
  background-image:
  radial-gradient(at 81% 91%, hsla(289,84%,66%,1) 0px, transparent 50%),
  radial-gradient(at 5% 48%, hsla(258,84%,66%,1) 0px, transparent 50%),
  radial-gradient(at 7% 61%, hsla(257,96%,79%,1) 0px, transparent 50%),
  radial-gradient(at 79% 31%, hsla(289,72%,72%,1) 0px, transparent 50%);
 
}

h4{
    background-color: white;
    padding: 10px;
    text-align: center;
    color: #1f2937;
    font-size: 20px;
    font-family: none;
  
    height: 0px;

    
}
input{
    width: 250px;
    height: 35px;
    border-color: black;
    background-color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 8px;

}
input:hover{
    border:none;
}
button{
    width: 250px;
    height: 45px;
    border-radius: 50px;
    background-color:rgb(240,240,240) ;
    padding: 8px;
    cursor: pointer;

}
p{
    background-color: white;
}
a{
    background-color: white;
}
